{% extends 'base.html.twig' %}



{% block body %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
    <section class="about-us">
        <div class="about">
            <img src="{{ asset('im.jpg') }}" class="pic">
            <div class="text">
                <h2>About Us</h2>
                <h4>Doccure is a website that makes it easy to make appointments with doctors without wasting time.</h4>

            </div>
        </div>
    </section>
{% endblock %}

