{% extends 'index.html.twig' %}

{% block title %}Edit Specialities{% endblock %}

{% block body %}
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <a href="{{ path('app_specialities_index') }}" class="btn btn-primary waves-effect waves-light">back to list</a>
                        </div>

                        <h4 class="page-title">Edit Specialities</h4>

                    </div>
                </div>
            </div>
    {{ include('specialities/_form.html.twig', {'button_label': 'Update'}) }}


                            </div> <!-- container -->

                        </div>
{% endblock %}
